---
---

@charset "utf-8";

// // Use media queries like this:
// // @include media-query($on-palm) {
// //     .wrapper {
// //         padding-right: $spacing-unit / 2;
// //         padding-left: $spacing-unit / 2;
// //     }
// // }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }


// Color Variables
$bg-color: #fff !default;
$flag-color: #FE6860 !default;
$band-color: #D9BBAE !default;
$flag-band-color: #FE8A71 !default;
$text-color: #333333 !default;
// $pink :            lighten($gray-base, 13.5%) !default; // #222


// Import partials from `sass_dir` (defaults to `_sass`)
@import 'bootstrap';
@import 'header';
@import 'footer';
@import 'homepage';
@import 'archive';
@import 'post';
@import 'syntax';
@import 'media';
@import 'page-content';
@import 'text-aligner';



body {
  background-color: $bg-color;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Roboto Slab', serif;
}

.wrapper {
   min-height:100%;
   position:relative;
}
