<header>
  <nav class="navbar h-line" role="navigation">
    <div class="container">
      <div class="row">
        <div class="brand-box-upper col-xs-6 col-xs-offset-1 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1 text-center">
          <a class="navbar-brand" href="{{ site.baseurl }}/">hireserge</a>
        </div>
        <div class="col-xs-2 col-xs-offset-2 col-sm-2 col-sm-offset-4 col-md-2- col-md-offset-5 col-lg-2 col-lg-offset-6">
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="/resume/Serge_Lobatch_Sept_2016.pdf" target="_blank">Resumé</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="brand-box-lower col-xs-6 col-xs-offset-1 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1 text-center">
          <svg height="20px" width="100%" preserveAspectRatio="none" viewBox="0 0 10 10">
            <polygon class="flag-bottom" points="0,0 5,10 10,0" />
          </svg>
        </div>
      </div>
    </div>
  </nav>
</header>
