<header>
  <nav class="navbar h-line" role="navigation">
    <div class="container">
      <div class="row">
        <div class="brand-box-upper col-xs-6 col-xs-offset-1 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1 text-center">
          <a class="navbar-brand" href="{{ site.baseurl }}/">hireserge</a>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar">
    <div class="container">
      <div class="row">
        <div class="brand-box-lower col-xs-6 col-xs-offset-1 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1 text-center">
          <svg height="40px" width="100%" preserveAspectRatio="none" viewBox="0 0 10 10">
            <polygon class="flag-bottom" points="5,2 0,10 10,10" />
          </svg>
        </div>
      </div>
    </div>
  </nav>
</header>
