@import "mobile-navigation";

/* Site header */

.flag-bottom {
  fill: $flag-color;
}


.brand-box-lower{
  background-color: $bg-color;
  height: 20px;
  padding: 0;
}

.brand-box-upper{
  background-color: $flag-color;
  border-bottom: 10px solid $flag-color;
  margin-bottom:-10px;
}


.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-width: 0;
  // border-width: 0;
}

.h-line{
  // border-bottom: 10px solid $band-color;
}

.navbar-brand{
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  text-transform: none;
  color: white;
  width: 100%;
  margin-left: 0 !important;
}

.navbar-brand:visited{
  color: white;
  height: 10px;
}

.brand-under{
  background-color: purple;

}

.nav{
  padding: 0px;
  text-align: right;
}

.navbar-nav{
  margin: 0;
}

.nav a {
  color: $text-color;
  font-size: 20px;
  font-weight: normal;
  padding: 25px 10px;
  text-transform: lowercase;
}

.navbar-nav ul {
  margin: 0px;
}

.nav li {
  display: inline;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Slab', serif;
}


.nav > li > a:hover{
  background-color: $flag-color;
  color: white;
}

.nav > li > a:focus{
  background-color: $flag-color;
  color: white;
}

.navbar-toggle {
  .icon-bar{
    background-color: $flag-color;
  }
}

.navbar-collapse{
  padding-left: 0px;
  padding-right: 0px;
}

.mobile-nav {
  li {
    text-align: center;
  }

  a {
    background-color: $flag-color;
    color: white;
  }

  li > a:hover{
    background-color: white;
    color: $flag-color;
  }

  li > a:focus{
    background-color: white;
    color: $flag-color;
  }
}
